@import "jolty-ui";

:root {
  --primary-50: 0 0% 100%;
  --primary-200: 210 40% 97.08%;
  --primary-201: 215.29 19.32% 34.51%;

  --secondary-500: 215 20.22% 65.1%;
  --secondary-501: 215.38 16.32% 46.86%;
  --secondary-550: 215.38 16.32% 86.86%;
  --secondary-700: 215.29 19.32% 34.51%;
  --secondary-950: 222.22 47.37% 11.18%;

  --accent-500: 32.13 94.62% 43.73%;

  --red-500: 0 72.22% 50.59%;

  --pfp-bg: 0 0% 77.25%;

  color-scheme: light;
}

:root[data-ui-mode="dark"] {
  --primary-50: 222.22 47.37% 11.18%;
  --primary-200: 220.71 42.42% 13.24%;
  --primary-201: 217.24 32.58% 17.45%;

  --secondary-500: 215.29 19.32% 34.51%;
  --secondary-501: 215.29 25% 26.67%;
  --secondary-550: 215.29 19.32% 20.51%;
  --secondary-700: 198.46 20.63% 62.94%;
  --secondary-950: 0 0% 100%;

  --accent-500: 37.69 92.13% 50.2%;

  --red-500: 0 84.24% 60.2%;

  --pfp-bg: 0 0% 77.25%;

  color-scheme: dark;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    background: rgba(0, 0, 0, 0);
  }
  1% {
    visibility: visible;
    background: rgba(0, 0, 0, 0);
  }
  to {
    visibility: visible;
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    background: rgba(0, 0, 0, 0.5);
  }
  99% {
    visibility: visible;
    background: rgba(0, 0, 0, 0);
  }
  to {
    visibility: hidden;
    background: rgba(0, 0, 0, 0);
  }
}

.dialog-backdrop {
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;
  left: var(--side-panel);
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.dialog-backdrop.inactive {
  animation: fade-out 400ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.dialog-backdrop.active {
  animation: fade-in 400ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.has-dialog {
  overflow: hidden;
}
