:root {
  --primary-50: 0 0% 100%;
  --primary-200: 210 40% 97.08%;

  --secondary-500: 215 20.22% 65.1%;
  --secondary-550: 215.38 16.32% 86.86%;
  --secondary-700: 215.29 19.32% 34.51%;
  --secondary-950: 222.22 47.37% 11.18%;

  --accent-500: 32.13 94.62% 43.73%;

  --pfp-bg: 0 0% 77.25%;
}

:root.theme-dark {
  --primary-50: 222.22 47.37% 11.18%;
  --primary-200: 220.71 42.42% 13.24%;

  --secondary-500: 215.29 19.32% 34.51%;
  --secondary-550: 215.29 19.32% 20.51%;
  --secondary-700: 215 20.22% 65.1%;
  --secondary-950: 0 0% 100%;

  --accent-500: 37.69 92.13% 50.2%;

  --pfp-bg: 0 0% 77.25%;
}

.base-container {
  @apply mx-auto w-full max-w-[82.75rem] px-[1rem] sm:px-[2rem] md:px-[3rem];
}
