---
import ProfileImage from "../ProfileImage.astro";
import SectionTitle from "../SectionTitle.astro";
import Skills from "../Skills.astro";
---

<section class="base-container my-14 min-[46.125em]:my-20">
  <div
    class="relative flex flex-col gap-12 max-[46.125em]:items-center max-[46.125em]:text-center lg:mx-24"
  >
    <SectionTitle title="About Me" />
    <div
      class="flex flex-col items-center gap-12 min-[46.125em]:flex-row-reverse min-[46.125em]:items-start"
    >
      <ProfileImage />
      <div class="grid flex-1 basis-[40%] gap-4">
        <h3 class="text-2xl font-semibold text-secondary-950">My Journey</h3>
        <div class="grid max-w-[60ch] gap-3">
          <p>
            My web development adventure started with Frontend Mentor's fun
            challenges. I had a bit of HTML knowledge but no clue about CSS, so
            I jumped in and Googled everything to figure it out. The excitement
            of seeing <a
              href="https://github.com/CarlosSimon02/fem-product-preview-card-component"
              >my first webpage</a
            > come to life after hours of effort was amazing!
          </p>
          <p>
            When the challenges got trickier and needed JavaScript, I took <a
              href="https://www.udemy.com/course/the-complete-javascript-course/?couponCode=LEADERSALE24A"
              >Jonas Schmedtmann's Udemy course</a
            >. This course was fantastic and gave me a solid foundation in
            JavaScript. Building a <a
              href="https://github.com/CarlosSimon02/fem-pomodoro-app"
              >Pomodoro app</a
            > that actually worked was a super proud moment for me.
          </p>
          <p>
            I wanted to learn more, so I dived into React.js with <a
              >Andrei Neagoie and Yihua Zhang's Udemy course</a
            >. React was a game-changer, letting me take on even more complex
            challenges. One of my favorite projects was creating a <a
              href="https://github.com/CarlosSimon02/fem-countries"
              >REST Countries API with a color theme switcher</a
            >, showing real-time data in such a cool way.
          </p>
          <p>
            I love learning and creating, and every project is a new adventure.
            This journey is just the beginning, and I'm so excited for what's
            next. Right now, I'm looking for a full-time role where I can bring
            my skills and enthusiasm to help companies reach their goals. I'm
            eager to join innovative projects and work with talented teams in
            the wonderful world of web development.
          </p>
        </div>
      </div>
    </div>

    <div class="grid w-full gap-8">
      <h3 class="text-2xl font-semibold text-secondary-950">My Skills</h3>
      <Skills />
    </div>
  </div>
</section>

<style>
  a {
    @apply cursor-pointer underline transition-colors hover:text-secondary-950;
  }
</style>
