---
import Honeycomb from "../Honeycomb.astro";
---

<div class="absolute -z-10 flex h-full w-full justify-center overflow-x-clip">
  <div class="relative h-full w-full max-w-[82.75rem]">
    <Honeycomb
      id="1"
      rows={10}
      cols={7}
      x="-2rem"
      hexagonIndexes={[
        0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 16, 17, 18, 19, 20, 21, 22,
        23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 41, 42,
        43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 60, 62, 63,
        64, 66, 67, 68, 69,
      ]}
    />
    <Honeycomb
      id="2"
      x="25rem"
      rows={6}
      cols={12}
      hexagonIndexes={[
        1, 2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 17, 18, 19, 21, 22, 23, 24,
        25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 44,
        46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
        65, 66, 67, 68, 69, 70,
      ]}
    />
    <Honeycomb
      id="3"
      y="7rem"
      x="68rem"
      rows={11}
      cols={7}
      hexagonIndexes={[
        0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22,
        23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 42, 43,
        44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 61, 62, 63, 64,
        65, 66, 67, 68, 69, 71, 72, 73, 74, 75,
      ]}
    />
    <Honeycomb
      id="4"
      x="10rem"
      y="30rem"
      rows={8}
      cols={8}
      hexagonIndexes={[
        0, 1, 2, 3, 4, 6, 7, 9, 10, 11, 12, 13, 14, 17, 19, 20, 21, 22, 24, 25,
        26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45,
        46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 61, 62, 63,
      ]}
    />
    <Honeycomb
      id="5"
      x="46rem"
      y="30rem"
      rows={6}
      cols={6}
      hexagonIndexes={[
        0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21,
        23, 24, 25, 26, 27, 29, 30, 31, 33, 34, 35,
      ]}
    />
  </div>
</div>

<script>
  //---------- imports ---------- //

  import anime from "animejs/lib/anime.es.js";

  //---------- END: imports ---------- //

  //---------- elements ---------- //

  const hexagons = document.querySelectorAll(".hexagon");

  //---------- END: elements ---------- //

  //---------- functions ---------- //

  const hexagonOnClick = (
    index: number,
    honeyCombId: string,
    cols: number,
    rows: number,
  ) => {
    console.log(index);
    anime({
      targets: `.${honeyCombId} .hexagon`,
      scale: [
        { value: 0.1, easing: "easeOutSine", duration: 500 },
        { value: 1, easing: "easeInOutQuad", duration: 1200 },
      ],
      delay: anime.stagger(200, { grid: [cols, rows], from: index }),
    });
  };

  //---------- END: functions ---------- //

  //---------- event listeners ---------- //

  hexagons.forEach((hexagon) => {
    const honeyCombElement = hexagon.parentElement?.parentElement;

    if (!honeyCombElement) return;

    const honeyCombId = [...honeyCombElement.classList].find((value) =>
      value.includes("honey-comb"),
    );
    const rows = honeyCombElement.getAttribute("data-rows");
    const cols = honeyCombElement.getAttribute("data-cols");

    console.log(honeyCombId, rows, cols);

    let index = [
      ...document.querySelectorAll(`.${honeyCombId} .hexagon`),
    ].indexOf(hexagon);

    if (honeyCombId && rows && cols) {
      hexagon.addEventListener("click", () =>
        hexagonOnClick(index, honeyCombId, parseInt(cols), parseInt(rows)),
      );
    }
  });

  document.addEventListener("click", (event) => {
    const scrollX = window.scrollX;
    const scrollY = window.scrollY;

    const hexagon = document
      .elementsFromPoint(event.pageX - scrollX, event.pageY - scrollY)
      .filter((element) => element.classList.contains("hexagon"))[0];

    if (!hexagon) return;

    let clickEvent = new Event("click");

    hexagon.dispatchEvent(clickEvent);
  });

  //---------- END: event listeners ---------- //
</script>
