---
import Icon from "../Icon.astro";
import Navigation from "../Navigation.astro";
import HeaderButton from "../clickables/HeaderButton.astro";
import ThemeToggle from "../clickables/ThemeToggle.astro";
import BaseContainer from "../containers/BaseContainer.astro";

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<header
  class:list={[
    "border-b-[0.0625rem] border-b-secondary-550 bg-primary-50",
    className,
  ]}
>
  <BaseContainer>
    <div
      class:list={[
        "h-[4.3rem] md:h-[5.5rem]",
        "flex justify-between",
        "border-x-[0.0625rem] border-x-secondary-550",
      ]}
    >
      <div class="flex h-full items-center gap-12 px-4 md:gap-16 md:px-8">
        <a class="h-8 w-8 cursor-pointer md:h-10 md:w-10" href="/">
          <Icon icon="logo" color="hsl(var(--accent-500))" />
        </a>
        <Navigation class="h-full max-[46.125em]:hidden" />
      </div>
      <div class="flex h-full items-center gap-5 px-4 max-md:hidden md:px-8">
        <HeaderButton icon="globe" />
        <ThemeToggle />
      </div>
      <div class="flex h-full items-end md:hidden">
        <button
          class="overflow-clip rounded-tl-2xl border-l-[0.0625rem] border-t-[0.0625rem] border-secondary-550 p-3 transition-colors hover:bg-secondary-950/[0.02]"
        >
          <Icon
            icon="hamburger"
            size="1.75rem"
            color="hsl(var(--secondary-950))"
          />
        </button>
      </div>
    </div>
  </BaseContainer>
</header>
