---
import Hexagon from "./clickables/Hexagon.astro";

type Props = {
  id: string;
  x?: string;
  y?: string;
  rows: number;
  cols: number;
  hexagonIndexes: number[];
};

const { id, x = "0", y = "0", rows, cols, hexagonIndexes } = Astro.props;
---

<div
  class=`absolute honey-comb-${id}`
  style={{ left: x, top: y }}
  data-rows={rows}
  data-cols={cols}
>
  {
    [...new Array(rows)].map((_, rowIndex) => {
      const rowHexagonIndexes = hexagonIndexes
        .filter((hexagonIndex) => {
          const rowStart = rowIndex * cols;
          const rowEnd = rowIndex * cols + cols - 1;

          return hexagonIndex >= rowStart && rowEnd >= hexagonIndex;
        })
        .map((rowHexagonIndex) => rowHexagonIndex - rowIndex * cols);

      return (
        <div class="-mb-[0.45rem] flex gap-1 odd:ml-[1.175rem]">
          {[...new Array(cols)].map((_, index) => (
            <Hexagon isVisible={rowHexagonIndexes.includes(index)} />
          ))}
        </div>
      );
    })
  }
</div>
