---
import Icon from "./atoms/Icon.astro";
import type { iconPaths } from "./IconPaths";

const skills = [
  {
    logo: "javascript",
    name: "Javascript",
  },
  {
    logo: "typescript",
    name: "Typescript",
  },
  {
    logo: "css",
    name: "CSS",
  },
  {
    logo: "html",
    name: "HTML",
  },
  {
    logo: "react",
    name: "React",
  },
  {
    logo: "nextjs",
    name: "Next.js",
  },
  {
    logo: "tailwind",
    name: "Tailwind CSS",
  },
  {
    logo: "styled-components",
    name: "Styled Components",
  },
  {
    logo: "mongodb",
    name: "MongoDB",
  },
  {
    logo: "expressjs",
    name: "Express.js",
  },
  {
    logo: "sass",
    name: "Sass",
  },
  {
    logo: "astrojs",
    name: "Astro.js",
  },
  {
    logo: "nodejs",
    name: "Node.js",
  },
  {
    logo: "zustand",
    name: "Zustand",
  },
];
---

<ul class="grid w-full grid-cols-[repeat(auto-fit,minmax(13rem,1fr))] gap-8">
  {
    skills.map((skill) => (
      <li class="flex items-start gap-4 max-[46.125em]:justify-self-center">
        <Icon icon={skill.logo as keyof typeof iconPaths} size="2rem" />
        <span>{skill.name}</span>
      </li>
    ))
  }
</ul>
