---
import type { HTMLAttributes } from "astro/types";

type Props = {
  styleType?: "accent" | "primary";
} & HTMLAttributes<"a">;

const { class: className, styleType = "primary", ...props } = Astro.props;
---

<a class:list={["group max-w-[12.5rem] flex-1", className]} {...props}
  ><div
    class:list={[
      "flex items-center justify-center rounded-lg p-4 font-bold transition-transform group-hover:-translate-y-1",
      styleType === "primary"
        ? "bg-secondary-950 text-primary-50"
        : "border-[0.0625rem] border-accent-500 text-accent-500"
    ]}
  >
    <slot />
  </div></a
>
