---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { ...props } = Astro.props;
---

<div {...props}>
  <slot />
</div>

<script>
  const scrollSpyers = document.querySelectorAll(".scroll-spyer");

  const onHashChange = () => {
    const newHref = window.location.href;

    scrollSpyers.forEach((scrollSpyer) => {
      scrollSpyer.classList.remove("selected");

      if (scrollSpyer.getAttribute("href") === newHref)
        scrollSpyer.classList.add("selected");
    });
  };

  window.addEventListener("hashchange", onHashChange);
  window.addEventListener("DOMContentLoaded", onHashChange);
</script>
