---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { ...props } = Astro.props;
---

<div {...props}>
  <slot />
</div>

<script>
  const body = document.querySelector("body") as HTMLElement;
  const scrollSpyers = document.querySelectorAll(".scroll-spyer");

  const getCurrentSection = () => {
    return body.dataset.currentSection as string;
  };

  const handleCurrentSectionChange = () => {
    const currentSection = getCurrentSection();

    scrollSpyers.forEach((scrollSpyer) => {
      scrollSpyer.classList.remove("selected");

      if (scrollSpyer.getAttribute("href") === currentSection)
        scrollSpyer.classList.add("selected");
    });
  };

  const observeCurrentSection = () => {
    const observer = new MutationObserver(handleCurrentSectionChange);
    observer.observe(body, {
      attributeFilter: ["data-current-section"],
      attributes: true
    });
  };

  observeCurrentSection();
</script>
