---
import { iconPaths } from "@/components/IconPaths";
import Icon from "@/components/atoms/Icon.astro";

type Props = {
  class?: string;
  hoverTranslate?: "bottom" | "right";
  href: string;
  icon: keyof typeof iconPaths;
  label: string;
};

const {
  class: className,
  hoverTranslate = "bottom",
  href,
  icon,
  label
} = Astro.props;
---

<a class:list={[`group transition-colors`, className]} href={href}
  ><span class="sr-only">{label}</span><Icon
    class:list={[
      "transition-transform",
      hoverTranslate === "bottom"
        ? "group-hover:translate-y-1"
        : "group-hover:translate-x-1"
    ]}
    icon={icon}
    size="1.5rem"
  /></a
>
