---
import Icon from "@/components/atoms/Icon.astro";
---

<button
  aria-expanded="false"
  aria-haspopup="menu"
  class="overflow-clip rounded-tl-2xl border-l-[0.0625rem] border-t-[0.0625rem] border-secondary-550 p-3 transition-colors hover:bg-secondary-950/[0.02]"
  id="hamburger"
>
  <span class="sr-only">Show Navigation Menu</span>
  <Icon color="hsl(var(--secondary-950))" icon="hamburger" size="1.75rem" />
</button>
