---
import NavLink from "../atoms/NavLink.astro";

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<nav class:list={["flex items-end", className]}>
  <ul
    class:list={[
      "flex overflow-clip text-secondary-950",
      "rounded-t-2xl border-x-[0.0625rem] border-t-[0.0625rem] border-secondary-550 bg-clip-border",
    ]}
  >
    <NavLink label="Home" href="#home" isSelected={true} />
    <NavLink label="About" href="#about" />
    <NavLink label="Projects" href="#projects" />
    <NavLink label="Contact" href="#contact" />
  </ul>
</nav>
