---
import ScrollNumber from "@/components/atoms/ScrollNumber.astro";
import ScrollSpy from "@/components/atoms/ScrollSpy.astro";

export type ScrollNumbersUITranslationsType = {
  sectionsLabel: string;
};

export type SectionsType = {
  label: string;
  link: string;
}[];

type Props = {
  sections: SectionsType;
  translations: ScrollNumbersUITranslationsType;
};

const { sections, translations: t } = Astro.props;
---

<ScrollSpy
  class="fixed bottom-0 right-[3rem] font-oswald text-2xl font-bold text-secondary-500 max-xl:hidden"
>
  <span class="sr-only" id="sections-label">{t.sectionsLabel}</span>
  <ul aria-labelledby="sections-label" class="grid gap-2">
    {
      sections.map((section, index) => (
        <ScrollNumber
          href={`${Astro.url.href}${section.link}`}
          label={section.label}
          number={(index + 1).toString().padStart(2, "0")}
        />
      ))
    }
  </ul>
</ScrollSpy>
