---
import ScrollNumber from "../atoms/ScrollNumber.astro";
---

<div
  class="fixed bottom-0 right-[3rem] grid gap-2 font-oswald text-2xl font-bold text-secondary-500 max-lg:hidden"
>
  <ScrollNumber number={"01"} className="selected" />
  <ScrollNumber number={"02"} />
  <ScrollNumber number={"03"} />
  <ScrollNumber number={"04"} />
</div>

<script>
  //---------- elements ---------- //

  const scrollNumbers = document.querySelectorAll(".scroll-number");

  //---------- END: elements ---------- //

  //---------- event listeners ---------- //

  scrollNumbers.forEach((scrollNumber) =>
    scrollNumber.addEventListener("click", () => {
      scrollNumbers.forEach((scrollNumber) =>
        scrollNumber.classList.remove("selected"),
      );

      scrollNumber.classList.add("selected");
    }),
  );

  //---------- END: event listeners ---------- //
</script>
