---
import SocialLink from "../atoms/SocialLink.astro";
---

<div
  class="fixed bottom-0 left-[3rem] grid justify-items-center gap-5 text-secondary-500 after:h-20 after:w-[0.0625rem] after:bg-[currentColor] max-lg:hidden"
>
  <SocialLink href="https://github.com/CarlosSimon02" icon="github" />
  <SocialLink href="https://www.facebook.com/CarlosSimon02/" icon="facebook" />
  <SocialLink
    href="https://www.reddit.com/user/carlos_simon_02/"
    icon="reddit"
  />
  <SocialLink
    href="https://www.linkedin.com/in/carlossimon02/"
    icon="linkedin"
  />
  <SocialLink
    href="https://www.instagram.com/caloycowmoochi/"
    icon="instagram"
  />
</div>
