---
import Icon from "@/components/atoms/Icon.astro";

type Props = {
  toggleDarkModeLabel: string;
  toggleLightModeLabel: string;
};

const { toggleDarkModeLabel, toggleLightModeLabel } = Astro.props;
---

<theme-toggle class="h-6 w-6">
  <button
    class="group h-full w-full text-secondary-950 transition-colors hover:text-accent-500"
  >
    <span class="icon light">
      <span class="sr-only">{toggleDarkModeLabel}</span>
      <Icon
        class="transition-transform group-hover:translate-y-1"
        icon="moon"
        size="1.5rem"
      />
    </span>
    <span class="icon dark">
      <span class="sr-only">{toggleLightModeLabel}</span>
      <Icon
        class="transition-transform group-hover:translate-y-1"
        icon="sun"
        size="1.5rem"
      />
    </span>
  </button>
</theme-toggle>

<style>
  :global(.theme-dark) .icon.light {
    display: none;
  }

  :global(html:not(.theme-dark)) .icon.dark {
    display: none;
  }
</style>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button")!;

      /** Set the theme to dark/light mode. */
      const setTheme = (dark: boolean) => {
        document.documentElement.classList[dark ? "add" : "remove"](
          "theme-dark"
        );
        button.setAttribute("aria-pressed", String(dark));
      };

      // Toggle the theme when a user clicks the button.
      button.addEventListener("click", () => setTheme(!this.isDark()));

      // Initialize button state to reflect current theme.
      setTheme(this.isDark());
    }

    isDark() {
      return document.documentElement.classList.contains("theme-dark");
    }
  }

  customElements.define("theme-toggle", ThemeToggle);
</script>
