---
import MainHead from "../components/MainHead.astro";
---

<html lang="en">
  <MainHead />
  <body class="grid min-h-screen bg-primary-50 font-lexend text-secondary-700">
    <slot />
  </body>
</html>
